/* Main CSS for the map page (main.html) */
body {
    font-family: Arial, sans-serif;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column; /* Förbättrad layout */
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px; /* Lägger till lite marginaler runt innehållet */
}

h1 {
    font-size: 2rem;
    color: #0077B6;
    text-align: center;
}

#map {
    width: 80%;  /* Justera bredden på kartan */
    height: 600px; /* Justera höjden på kartan */
    display: block; /* Säkerställer att SVG:en inte är gömd */
    border-radius: 10px;
    border: 2px solid #0077B6; /* Ram runt kartan */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

object {
    width: 100%;  /* Gör så att SVG-filen fyller sin container */
    height: 100%;
}

form {
    text-align: center;
    margin-top: 20px;
}

input[type="text"], input[type="submit"] {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #0077B6;
}

input[type="submit"] {
    background-color: #0077B6;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #005f8e;
}
