@import "base.css";

h1 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 2rem;
    text-align: center;
}


#map {
    width: 60%;  /* Justera bredden på kartan */
    display: flex; /* Säkerställer att SVG:en inte är gömd */
    border-radius: 10px;
    border: 2px solid var(--color-navbar); /* Ram runt kartan */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form {
    text-align: center;
    margin-top: 20px;
}

input[type="text"], input[type="submit"] {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #0077B6;
}

input[type="submit"] {
    background-color: #0077B6;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #005f8e;
}
