{% extends "base.html" %}

{% block title %}Om oss{% endblock %}
{% block stylesheet %}{{ url_for("static", filename="css/about.css") }}{% endblock %}

{% block content %}
    <div class="content">
        <div class="abaout">
            <h1>Vilka är vi?</h1>
            <p>
                Vi på GWD vill förändra sättet vi tänker på leveranser – genom att lyfta dem från marken. Med hjälp av avancerad drönarteknik skapar vi en innovativ och trygg leveranslösning, särskilt framtagen för att förbättra tillgängligheten av medicin och andra apoteksprodukter.
                
                Vår tjänst gör det möjligt att få viktiga varor levererade direkt hem till dörren, snabbt och smidigt – även när vägarna är dåliga, transportmöjligheterna begränsade eller tiden är knapp. Allt sköts via en enkel och användarvänlig plattform där du som kund kan beställa, följa drönarens rutt i realtid och få en tydlig beräknad ankomsttid.
                
                Men vi stannar inte där. Vårt system utvecklas ständigt, med funktioner som väderanpassade flygrutter, smart hantering av "No Fly Zones" och verifiering via QR-kod för att garantera att paketet kommer i rätt händer.
                
                Oavsett om du bor i stan eller på landsbygden, vill vi ge dig tryggheten i att alltid kunna få det du behöver – snabbt, säkert och med hjälp av framtidens teknik.
            </p>
        </div>
        <div class="picture">
            <img src="/static/images/gwd.jpg">
        </div>
    </div>
{% endblock %}

