<!DOCTYPE html>
<html lang="se">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - GWD</title>
        <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% endblock %}"/> <!-- Huvud CSS för framsidan -->
        {% block headstuff %}{% endblock %}
    </head>
    <body>
        <header>
            <a href="/">Hem</a>
            <nav id="navbar">
                <ul id="navbar-items">
                    <li><a href="/about">Om oss</a></li>
                    <li><a href="/">Kundtjänst</a></li>
                    <li><a href="/">Hållbarhet</a></li>
                </ul>
            </nav>
            <a href="/admin">Admin</a>
        </header>
        {% block content %}{% endblock %}
        <footer>
            <hr>
            <p>Kontaktinformation: gwd@gmail.com</p>
            <a href="https://github.com/Johannes044/InfoCom-LP3-Lab5">Källkod</a>
        </footer>
    </body>
</html>
