{% extends "base.html" %}

{% block title %}Hem{% endblock %}
{% block stylesheet %}{{ url_for("static", filename="css/home.css") }}{% endblock %}

{% block content %}
    <div class="content">
        <div class="welcome-card">
            <h1>Välkommen till GWD!</h1>
            <p>Skriv in ditt drönar-ID och se var din drönare befinner sig!</p>
            <form action="/map" method="POST">
                <input type="text" class="textbox" name="tracking-number">
                <button type="submit" class="btn">Sök</button>
            </form>
        </div>
    </div>
{% endblock %}

